*{
    text-align: right;
    background-color: aqua;
}

h1{
    text-align: right;
    background-color: aquamarine; 
}

.beneficios{
    list-style-position: outside;
    text-align: right;
}

.li{
    text-align: right;
    list-style: lower-alpha;
    list-style-position: initial;
}

